<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <p>员工查询: <input type="text" name="name" v-model="storehouseName">
        <button @click="selName">查询</button>
    </p>
    <table>
        <tr>
            <th>仓库名称</th>
            <th>仓库地址</th>
            <th>仓库面积</th>
            <th>负责人</th>
            <th>联系方式</th>
            <th>备注</th>
            <th>修改日期</th>
            <th>操作</th>
            <th>操作</th>
            <th>操作</th>
        </tr>
        <tr v-for="(sth,index) in storehouse">
            <td>{{sth.id}}</td>
            <td @click="ad('name',index)">{{sth.name}}qwer</td>
            <td @click="ad('principle',index)">{{sth.principle}}</td>
            <td @click="ad('phone',index)">{{sth.phone}}</td>
            <td @click="ad('remark',index)">{{sth.remark}}</td>
            <td @click="ad('adress',index)">{{sth.address}}</td>
            <td @click="ad('area',index)">{{sth.area}}</td>
            <td><button @click="del(index)">删除</button></td>
            <td><button @click="del(index)">修改</button></td>
        </tr>
    </table>

</div>
<script src="static/js/vue.js"></script>
<script src="static/js/axios.min.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            storehouse: [],
            storehouseName: "",
        },
        methods: {
            del(index) {
                axios.get("deleteId.sto?id=" + this.storehouse[index].id).then(res => {
                    alert("exe")
                    this.storehouse.splice(index, 1)
                })
            },


            //模糊查询
            selName() {
                axios.get("selectName.sto?name=" + this.storehouseName).then(res => {
                    this.storehouse = res.data.value;
                })
            },
            ad(field, num) {
                let value=prompt();
                switch (field) {
                    case "name":
                        this.storehouse[num].name = value;
                        break;
                    case "remark":
                        this.storehouse[num].remark=value;
                        break;
                    case"principle":
                        this.storehouse[num].principle=value;
                        break;
                    case"phone":
                        this.storehouse[num].phone=value;
                        break;
                    case"address":
                        this.storehouse[num].address=value;
                        break;
                    case"area":
                        this.storehouse[num].area=value;
                        break;
                    //
                }
                axios.get("admin/updateAll.sto?field="+field+"&id="+this.storehouse[num].id+"&value="+value).then(res => {
                    res.data;
                });
            },

        },
    })

</script>
</body>
</html>